/* .link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #bfdbfe; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

a.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  color: gray;
}

.non-bullet {
  list-style: none;
}

#aboutx {
  text-align: center;
}
.link {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  border-radius: 0.5;
  margin: 1rem;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation {
  background-color: #bfdbfe;
  color: black;
  padding: 1rem;

  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}
.unordered {
  color: black;
  text-align: right;
  text-decoration: none;
}

.navigation .link {
  color: black;
}

.navigation .link-active {
  font-weight: bold;
}

/* header */

.hero {
  padding: 2rem;
}

.hero .hero-img {
  max-width: 300px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  text-align: center;
  color: gray;
  padding-top: 1rem;
}

.hero .hero-heading .heading-inverted {
  color: #bfdbfe;
}

/* technology image */

.figurex {
  display: inline-block;
}

.divx {
  text-align: center;
}

.imgx {
  width: 50px;
  height: 50px;
}

/* for about div */
.container {
  text-align: center;
}

button:hover {
  background-color: aliceblue;
}
.btnx {
  background-color: #bfdbfe;
  border-radius: 0.5rem;
  padding: 7px;
  cursor: pointer;
  border: 1rem;
}

/* projects */
.spanx {
  color: #74808f;
  font-weight: 700;
}

/* footer */

footer {
  background-color: #bfdbfe;
  padding: 2rem 1rem;
  text-align: center;
  color: black;
  border-top-left-radius: 1rem;
}
.social-link {
  list-style: none;
}

.p-link {
  text-decoration: none;
  padding: 0.5rem 1 rem;
  margin: 1rem;
}

.footer .p-link {
  color: black;
}

.footer .social-link {
  text-align: center;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}
